<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav class="navbar">
        <a href="/">
            <div class="logo">Blog Markdown</div>
        </a>
        <ul class="nav-links" id="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
    </nav>
    <br>



    <div class="container">
        <h1>Welcome to Blog Markdown Editor</h1>
        <p>Your one-stop solution for writing and managing markdown content with ease. Everything u post will be deleted in 1 hour so post whatever u want </p>
    </div>

    <br>


    <!-- Copyright Footer -->
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2025 Jazib Services INC. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>